<html>
<head>
    <title>Let's Count Calories!</title>
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="calApp" ng-controller="CalCtrl">
<div>
    <form id="calform" role="form">
        <h1>What's the calories?</h1>

        <div class="form-group col-xs-2">
            <label>Protein:</label>
            <input type="text" class="form-control" ng-model="protein">
        </div>
        <div class="form-group col-xs-2">
            <label>Carbohydrates:</label>
            <input type="text" class="form-control" ng-model="carb">
        </div>
        <div class="form-group col-xs-2">
            <label>Fat:</label>
            <input type="text" class="form-control" ng-model="fat">
        </div>


        <p>Total Calories: {{calories}}</p>
        <button ng-click="calculate()">Calculate</button>

    </form>

</div>
</body>
</html>
